* {
  box-sizing: border-box;
}

body {
  background-color: #f0faff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

h1 {
  position: relative;
}

h1 span {
  color: #8bd8ff;
}

h1 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}

.btn {
  background-color: #8bd8ff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 15px;
  font-family: 'Outfit', sans-serif;
  transition: transform 0.4s ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-abs {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.btn-ghost {
  color: #8bd8ff;
  border: 0;
  font-size: 20px;
  background-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.cards {
  perspective: 1000px;
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
}

.card {
  position: absolute;
  opacity: 0;
  font-size: 1.5em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.active {
  opacity: 1;
  cursor: pointer;
  z-index: 10;
  transform: translateX(0) rotateY(0deg);
}

.card.left {
  transform: translateX(-50%) rotateY(10deg);
}

.inner-card {
  box-shadow: 0 1px 11px rgba(72, 145, 255, 0.4);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.card.show-answer .inner-card {
  transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #f0faff;
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
  content: '\f021    Flip';
  font-family: 'Font Awesome 6 Free', 'Outfit', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #8bd8ff;
}

.navigation {
  display: flex;
  margin: 20px 0;
  background-color: #8bd8ff;
  padding: 10px 5px;
  border-radius: 50px;
}

.navigation .nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.navigation p {
  margin: 0 25px;
}

.add-container {
  opacity: 0;
  z-index: -1;
  background-color: #f0faff;
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: 0.3s ease;
}

.add-container.show {
  opacity: 1;
  z-index: 3;
}

.add-container h3 {
  margin: 10px 0;
}

.form-group label {
  display: block;
  margin: 20px 0 10px;
  color: #8bd8ff;
  font-weight: bold;
}

.form-group textarea {
  border: none;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
  min-width: 500px;
  max-width: 100%;
  font-family: 'Outfit', sans-serif;
}
